*, *::before, *::after {

  box-sizing: border-box;

  font-family: Gotham Rounded;

}

:root {

  --hue-neutral: 200;

  --hue-wrong: 0;

  --hue-correct: 145;

}


body {

  --hue: var(--hue-neutral);

  padding: 0;

  margin: 0;

  display: flex;

  width: 100vw;

  height: 100vh;

  justify-content: center;

  align-items: center;

  background-image: url("https://qph.fs.quoracdn.net/main-qimg-c15db3ce6f05a6db2ce881f540bec0c0?fbclid=IwAR1orlDiCinqjaLifiD5s7x89Qrh9WlX83BN4aVAEZkBsWXPCqvLunV5yD0")
}



body.correct {

  --hue: var(--hue-correct);
  background-color:green; 

}

body.wrong {

  --hue: var(--hue-wrong);
background-color:red;
}

.container {

  width: 800px;

  max-width: 80%;

  background-color: white;

  border-radius: 5px;

  padding: 10px;

  box-shadow: 0 0 10px 2px;

}

.btn-grid {

  display: grid;

  grid-template-columns: repeat(2, auto);

  gap: 10px;

  margin: 20px 0;

}

.btn {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  font-size:28px; 
}

.btn:hover {
  background-color: #008CBA;
  color: white;
}

.btn.correct {

  --hue: var(--hue-correct);

  color: black;

  background-color:green; 

}

.btn.wrong {

  --hue: var(--hue-wrong);
  background-color:red; 

}

.start-btn, .next-btn {

  font-size: 1.5rem;

  font-weight: bold;

  padding: 10px 20px;

}

.controls {

  display: flex;

  justify-content: center;

  align-items: center;

}

.hide {

  display: none;

}
#question{
  font-size:25px;
  color:blue;
  font-family:sans-serif; 
}